@font-face {
    font-family: "Roboto";
    src: url("Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@keyframes widget-scale-animation {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

.widget-footbar {
    font-family: "Roboto", sans-serif !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px !important;
    width: 100% !important;
    position: fixed;
    bottom: -2px;
    background: white !important;
    color: black !important;
    display: block !important;
    height: 0;
    overflow: hidden;
    transition: 1s height ease;
    z-index:10000;
    -webkit-box-shadow: 1px 1px 24px -19px #000000;
    box-shadow: 1px 1px 24px -19px #000000;
}

html:not(.initialized) .widget-footbar {
    display: none;
}

.widget-footbar .widget-footbar-container {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.widget-footbar .widget-footbar-container .widget-footbar-logo {
    max-width: 35px;
}

.widget-footbar .widget-footbar-container .widget-footbar-text .widget-footbar-sum {
    padding: 0 5px 0 5px;
    color: #65c466;
    font-weight: 900 !important;
    display: inline-block !important;
    animation: widget-scale-animation 2s infinite ease-in-out;
}

.widget-footbar .widget-footbar-container .widget-footbar-link {
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #2e9fff;
    text-decoration: none;
    user-select: none;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s all ease;
    overflow: hidden;

}

.widget-footbar .widget-footbar-container .widget-footbar-link:hover {
    transform: scale(1.05);
    transition: 0.5s all ease;
    background: #1669b0;
}

.widget-footbar .widget-footbar-container .widget-footbar-close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    transition: 0.3s all;
    position: absolute;
    right: 20px;
}

.widget-footbar .widget-footbar-container .widget-footbar-close path {
    stroke: grey;
    transition: 0.3s all;
}

.widget-footbar .widget-footbar-container .widget-footbar-close:hover {
    transition: 0.3s all;
}

.widget-footbar .widget-footbar-container .widget-footbar-close:hover path {
    stroke: #c20000;
    transition: 0.3s all;
}

@media (max-width: 769px) {
    .widget-footbar {
        -webkit-box-shadow: 1px 1px 24px -15px #000000;
        box-shadow: 1px 1px 24px -15px #000000;
    }

    .widget-footbar .widget-footbar-container {
        flex-direction: column;
        gap: 2px !important;
    }

    .widget-footbar .widget-footbar-container .widget-footbar-text {
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 16px;
    }

    .widget-footbar .widget-footbar-container .widget-footbar-close {
        top: 10px;
        right: 10px;
    }

    .widget-footbar .widget-footbar-container .widget-footbar-link {
        font-size: 16px !important;
        padding: 7px 20px;
    }

    .widget-footbar .widget-footbar-container .widget-footbar-sum {
        font-size: 18px !important;
    }

    .widget-footbar .widget-footbar-container .widget-footbar-logo {
        display:none;
    }
}

@media (max-width: 500px) {
    .widget-footbar-container {
        padding: 6px 80px 10px 80px !important;
    }
}

/*# sourceMappingURL=index.css.map */
